$background-color: #FFFFFF;
$link-color: #41F6D7;
$lang-link-color: black;
$lang-link-active-color: #7E7E82;
$text-color-description: #1B1C21;
$border-line-color: #D9FFF5;
$background-swiper: #F8F8F8;
$swiper-slide-border: #EAEAEA;
$swiper-pagination-bullet: #DDDDDD;
$swiper-pagination-bullet-active: #B5B6BC;
$button-toggle-color: #000000FF;
$services-tab-active: #B8FFEC;
$button-color-swiper: #ff4081;
$button-color-swiper-hover: #ff6099;
